<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Dashboard</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light"
      [routerLink]="['manage-faculty']"
      style="cursor: pointer;">
        Create New Faculty
      </a>
      <a class="list-group-item list-group-item-action bg-light"
      [routerLink]="['edit-faculty']"
      style="cursor: pointer;">
        Edit Faculty
      </a>
      <a class="list-group-item list-group-item-action bg-light"
      [routerLink]="['manage-courses']"
      style="cursor: pointer;">
        Manage Courses
      </a>
      <a class="list-group-item list-group-item-action bg-light"
      [routerLink]="['manage-notices']"
      style="cursor: pointer;">
        Manage Notices
      </a>
      <!-- <a class="list-group-item list-group-item-action bg-light"
      [routerLink]="['manage-notices']"
      style="cursor: pointer;">
        Notices
      </a>
      <a class="list-group-item list-group-item-action bg-light"
      [routerLink]="['manage-notices']"
      style="cursor: pointer;">
        Courses
      </a> -->
      <a class="list-group-item list-group-item-action bg-light"
      [routerLink]="['settings']"
      style="cursor: pointer;">
        Settings
      </a>
    </div>
  </div>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->







