
  <app-course-item></app-course-item>
  <!-- <mat-grid-tile>
    <mat-card>
      <mat-card-title class="firstCard">Personal details</mat-card-title>
      <mat-card-content>
          hello
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title class="firstCard">Personal details</mat-card-title>
      <mat-card-content>
          hello
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title class="firstCard">Personal details</mat-card-title>
      <mat-card-content>
          hello
      </mat-card-content>
    </mat-card>
  </mat-grid-tile> -->

