<form #f='ngForm' (ngSubmit) = "onPostAssignment()">
  <label>Subject</label>
  <input type="text" name="subject" class="form-control" ngModel required>
  <label>Assignment No.</label>
  <input type="text" name="asgnNo" class="form-control" ngModel required pattern='^[1-9]+[0-9]*$'>
  <label>Submission Date</label>
  <input type="date" name="lastDate" class="form-control" min="2000-01-01" max="2099-12-31" ngModel required>
  <label for="name">Assignment Questions</label>
  <textarea class="form-control" rows="5" name="content" ngModel required></textarea>
  <br>
  <button
    type="submit"
    class="btn btn-success"
  >
    Post Assignment
  </button>&nbsp;
  <button type="button" class="btn btn-danger" (click)="onClear()">Clear</button>
</form>
<br>

<app-view-assignments></app-view-assignments>
