<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Dashboard</div>
      <div class="list-group list-group-flush">
        <a
        class="list-group-item list-group-item-action bg-light"
        [routerLink]="['manage-assignments']"
        style="cursor: pointer;">
          Manage Assignments
        </a>
        <a
        class="list-group-item list-group-item-action bg-light"
        [routerLink]="['students-performance']"
        style="cursor: pointer;">
          Students' Performance
        </a>
        <a
        class="list-group-item list-group-item-action bg-light"
        [routerLink]="['students-queries']"
        style="cursor: pointer;">
          Students' Queries
        </a>
        <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['notices']"
        style="cursor: pointer;">
          Notices
        </a>
        <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['courses']"
        style="cursor: pointer;">
          Courses
        </a>
        <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['settings']"
        style="cursor: pointer;">
          Settings
        </a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
