<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Dashboard</div>
      <div class="list-group list-group-flush">
        <a
        class="list-group-item list-group-item-action bg-light"
        [routerLink]="['ask-query']"
        style="cursor: pointer;">
          Ask Query
        </a>
        <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['raise-complaint']"
        style="cursor: pointer;">
          Raise Complaint
        </a>
        <a
        class="list-group-item list-group-item-action bg-light"
        [routerLink]="['view-performance']"
        style="cursor: pointer;">
          View Performance
        </a>
        <a
        class="list-group-item list-group-item-action bg-light"
        [routerLink]="['assignments']"
        style="cursor: pointer;">
          Assignments
        </a>
        <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['notices']"
        style="cursor: pointer;">
          Notices
        </a>
        <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['courses']"
        style="cursor: pointer;">
          Courses
        </a>
        <a class="list-group-item list-group-item-action bg-light"
        [routerLink]="['settings']"
        style="cursor: pointer;">
          Settings
        </a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
  <!-- /#wrapper -->
